body {
  background-color: #43C6DB;
}

.textCentered {
  text-align: center;
}

.title {
  margin-bottom: 10px;
}

.containerCenter {
  margin-top: 20%;
}

.resized {
  max-width: 200px;
  max-height: 200px;
}
